<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIBD APP 1</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <style>

       body{
        background-image:url('static/gradient.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
       }


    </style>

</head>

<body background="static/gradient.jpg">
    <div class="containter=fluid">
<h1 class="text-center alert alert-danger">Meniu</h1>
<a href="/insert" class="button">Inapoi</a>
<!--button onclick="window.location.href='{{ url_for('.Index') }}'">App1</button>
<button onclick="window.location.href='{{ url_for('.Index') }}'">App1</button-->
        
</body>
</html>